/* .sider {

}  */
/* .slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #ccc;
  border-radius: 5px;
}

.slider::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #ccc;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
} */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #f3f3f3;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: #f3f3f3;
  border-radius: 5px;
  border: 1px solid #12121233;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ff4500;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

/* Firefox */
.slider::-moz-range-track {
  width: 100%;
  height: 10px;
  background: #f3f3f3;
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ff4500;
  border-radius: 50%;
  cursor: pointer;
}

/* IE */
.slider::-ms-track {
  width: 100%;
  height: 10px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider::-ms-fill-lower {
  background: #ff4500;
  border-radius: 5px;
}

.slider::-ms-fill-upper {
  background: #f3f3f3;
  border-radius: 5px;
}

.slider::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #ff4500;
  border-radius: 50%;
  cursor: pointer;
}
